name: Run Automated Tests

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:  
      - name: Run pytest (generate junit xml)
        run: pytest -v  --junitxml=pytest-report.xml
      - name: Upload test report artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report_${{ matrix.os }}
          path: pytest-report.xml 